.calendar {
  width: inherit;
  background-color: $color-main;
  box-shadow: 0 3px 40px rgba(23, 24, 32, 0.2);

  @media (max-width: 424px) {
    overflow-x: scroll;
  }

  &-wrapper {
    justify-content: center;
    display: flex;
  }

  .CalendarMonth {
    background-color: $color-main;
  }

  .DayPicker__horizontal {
    background-color: $color-main;
  }

  .DayPicker__withBorder {
    box-shadow: none !important;
  }

  .CalendarDay_container {
    background-color: $color-main;
    color: $color-white;
    border: none;
  }

  .DayPicker_weekHeader {
    color: $color-text;
    text-transform: uppercase;
    font-weight: 400;
  }

  .CalendarMonthGrid {
    background-color: $color-main;
  }

  .CalendarMonth_caption {
    color: $color-white;
    font-size: 20px;
    font-weight: 600;
  }

  .DayPickerNavigation_button__horizontal {
    background-color: $color-main;
    border-color: $color-main;
  }

  .CalendarDay__today {
    background-color: $color-secondary;
    border-radius: 50%;
  }
}
