// colors
$table-bg: #3a3e52;

.table-item {
  &.user {
    td {
      padding: 20px 10px;
    }

    th {
      padding: 20px 25px;
    }
  }

  &-username {
    .username-logo {
      position: relative;

      .badge {
        right: 1px;
        border-color: $table-bg;
      }
    }
  }

  &-activity {
    color: $color-text;

    .fa {
      font-size: 13px;
      margin-right: 5px;
    }

    &.active {
      color: $color-success;
    }
  }
}