//colors
$message-bg: #404359;

.chat {
  display: flex;
  max-width: 60%;
  margin-bottom: 30px;

  &.left {
    margin-right: auto;

    .chat {
      &-img {
        margin-right: 15px;
      }

      &-main-message {
        background-color: $message-bg;
        border-radius: 10px 10px 10px 0;
      }
    }
  }

  &.right {
    margin-left: auto;
    justify-content: flex-end;

    .chat {
      &-img {
        margin-left: 15px;
      }

      &-main {
        flex-direction: row-reverse;

        &-message {
          background-color: $color-secondary;
          border-radius: 10px 10px 0px 10px;
        }

        &-time {
          text-align: end;
        }
      }
    }
  }

  &-main {
    display: flex;
    align-items: center;

    &-message {
      box-shadow: 0 3px 15px rgba(158, 163, 180, 0.2);
      padding: 10px;
      margin-bottom: 5px;
      word-break: break-all;

      span {
        color: $color-white;
        font-weight: 400;
        font-size: 13px;
        letter-spacing: 0.32px;
      }
    }

    &-time {
      color: $color-text;
      font-size: 11px;
    }
  }

  &-img {
    border-radius: 50%;
  }
}