// colors
$color-link: #2b2d3c;

.tabs {
  .nav {
    &-tabs {
      padding: 0 15px 0 15px;
      background-color: $color-secondary;
      box-shadow: 0 3px 80px rgba(23, 24, 32, 0.2);
      border-bottom: 1px solid $color-secondary;
      height: 65px;
      flex-wrap: nowrap;
      justify-content: space-between;

      .nav-item {
        margin-bottom: 0px;
        display: flex;
        align-items: center;
      }

      .nav-link {
        border: none;
        background-color: transparent;
        color: $color-link;
        font-weight: 600;
        letter-spacing: 0.36px;
        font-size: 14px;

        &.active {
          background-color: transparent;
          color: $color-white;
        }
      }
    }
  }

  .dropdown {
    &-label {
      color: $color-white;
    }

    &-toggle {
      &.btn-secondary {
        border-color: $color-white;
        color: $color-white;
      }

      &.btn-secondary:not(:disabled):not(.disabled):active {
        background-color: transparent;
        border-color: $color-white;
      }
    }
  }
}
