// color
$color-header: #3a3e52;

.inner {
  background-color: $color-bg;
  box-shadow: 0 3px 40px rgba(23, 24, 32, 0.2);

  &-header {
    background-color: $color-header;
    text-align: center;
    padding: 30px 0;
  }

  &-title {
    color: $color-white;
    font-weight: 600;
    letter-spacing: 0.36px;
    font-size: 20px;

    &-unreaded {
      color: $color-secondary;
    }
  }

  &-item {
    background-color: $color-main;

    &.item-message {
      max-height: 392px;
      overflow-y: scroll;
    }
  }
}
