.charts {
  background-color: $color-main;
  padding-top: 15px;

  &.charts-column {
    padding: 25px 25px 0;
  }

  &-title {
    color: $color-white;
    font-weight: 600;
    letter-spacing: 0.36px;
    font-size: 20px;
  }
}
