.charts {
  background-color: $color-main;
  padding-top: 15px;
  box-shadow: 0 3px 40px rgba(23, 24, 32, 0.2);

  @media (max-width: 420px) {
    overflow-x: scroll;
  }

  .bars {
    margin-bottom: 10px;
  }

  &.charts-column {
    padding: 25px 25px 0;
  }
}
