// colors
$color-link: #757da4;
$color-hover: #97a9ba;

.sidebar {
  padding-top: 60px;
  min-height: 100vh;
  width: 60px;
  background-color: $color-main;
  box-shadow: 0 3px 30px rgba(158, 163, 180, 0.3);

  &.position-fixed {
    top: 0;
    left: 0;
    z-index: 5;
  }

  &-nav {
    &-link {
      display: flex;
      justify-content: center;
      padding: 22px;

      .fa {
        color: $color-link;
        font-size: 20px;
        transition: 0.2s;

        &.fa-line-chart {
          font-size: 19px;
        }
      }

      &:hover {
        .fa {
          color: $color-hover;
        }
      }

      &.active {
        .fa {
          color: $color-white;
        }
      }
    }
  }
}
