.navbar-main-dropdown {
  .dropdown {
    &-menu {
      &.show {
        padding: 0;
      }
    }

    &-item {
      &:not(:last-child) {
        border-bottom: 1px solid rgba(158, 163, 180, 0.3);
      }

      &:active {
        background-color: transparent;
      }

      .item {
        max-width: 300px;
        max-height: 90px;
        background-color: $color-white;

        .content {
          &-user {
            color: $color-black;
          }

          &-info {
            white-space: normal;
          }
        }
      }
    }
  }
}
