//colors
$color-description: #9ca1b2;

.bars {
  flex-wrap: wrap;
  display: flex;
}

.progressbars {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;

  @media (max-width: 994px) {
    padding: 0 10px;
    margin-bottom: 20px;
  }

  &-item {
    width: 60px;
    margin-right: 15px;

    .CircularProgressbar {
      vertical-align: middle;
    }
    
    .CircularProgressbar-path {
      transform-origin: center center;
    }

    &-color {
      .CircularProgressbar-path {
        stroke: $color-secondary;
      }

      .CircularProgressbar-trail {
        stroke: rgba(156, 161, 178, 0.3);
      }

      .CircularProgressbar-text {
        fill: $color-secondary;
      }
    }
  }
}

.description {
  color: $color-white;

  p {
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.44px;
    line-height: 15px;
  }

  p:last-child {
    color: $color-description;
    font-size: 9px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.32px;
  }
}
