// colors
$color-main: #2f3242;
$color-secondary: #2196f3;

$color-bg: #2a2c3b;
$color-white: #ffffff;
$color-black: #000;
$color-grey: #737ba2;
$color-text: #9ea3b4;
$color-success: #4caf50;

// fonts
$font-txt: Montserrat;
