.dnd {
  overflow-x: scroll;
  min-height: calc(100vh - 125px);
  background-color: $color-bg;

  .container {
    max-width: max-content;
  }

  .item {
    border-radius: 5px;
  }

  &::-webkit-scrollbar {
    height: 12px;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(158, 163, 180, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-secondary;
    border: 2px solid $color-secondary;
    border-radius: 15px;
  }

  &-wrapper {
    margin-top: 30px;
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
  }

  &-col {
    min-width: 250px;
    margin: 0 10px;

    &-heading {
      margin-bottom: 20px;
      width: 100%;

      a {
        color: $color-white;
        font-weight: 400;
        letter-spacing: 0.36px;
        font-size: 16px;
        transition: 0.2s;
        line-height: 20px;

        &:hover {
          color: $color-text;
        }
      }

      .amount {
        font-size: 12px;
        letter-spacing: 0.28px;
        font-weight: 400;

        &-projects {
          color: $color-text;
        }

        &-cash {
          color: $color-secondary;
        }
      }

      .fa-circle {
        font-size: 4px;
        vertical-align: middle;
        color: $color-text;
      }

      &.hvr-icon-forward:before {
        color: $color-text;
        content: '\f105';
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &-list {
    min-height: 100px;
  }
}
